.about {
  padding: 40px;

  h2 {
    font-size: 24px;
    font-weight: 600;

    margin: 0 0 20px 0;
  }

  p {
    &:not(:last-child) {
      margin: 0 0 10px 0;
    }
  }

  a {
    color: inherit;

    opacity: 0.4;

    transition: all 0.2s ease 0s;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }

  em {
    font-weight: 500;
    text-transform: capitalize;
  }
}
